name: Test build rock

on:
  workflow_call:
    inputs:
      rockspecs:
        required: true
        type: string

jobs:
  build:
    name: Test build rockspec
    strategy:
      fail-fast: false
      matrix:
        # Upstream Issue: https://github.com/leafo/gh-actions-luarocks/issues/8
        luaVersion: [ "5.4", "5.3", "5.2", "5.1" ] #, "luajit", "luajit-openresty"]
        # luarocksVersion: [ "3.1.3" ] # , "2.4.2"]
        rockspec: ${{ fromJSON(inputs.rockspecs) }}
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup ‘lua’
        uses: leafo/gh-actions-lua@v9
        with:
          luaVersion: ${{ matrix.luaVersion }}
      - name: Setup ‘luarocks’
        uses: leafo/gh-actions-luarocks@v4
        # with:
          # luarocksVersion: ${{ matrix.luarocksVersion }}
      - name: Confirm dev rockspec(s) build
        if: ${{ !startsWith(matrix.rockspec, 'rockspecs/') }}
        run: |
          args="--lua-version ${{ matrix.luaVersion }}"
          luarocks make --pack-binary-rock $args -- ${{ matrix.rockspec }}
      - name: Confirm tagged rockspec(s) build
        if: ${{ startsWith(matrix.rockspec, 'rockspecs/') }}
        run: |
          args="--lua-version ${{ matrix.luaVersion }}"
          set -euo pipefail
          git tag | grep -Fxq ${{ github.ref_name}} || args+=" --branch ${{ github.ref_name }}"
          luarocks build --pack-binary-rock $args -- ${{ matrix.rockspec }}
